{% extends "base.html" %}
{% block content %}
<div class="container bg-white">
    
      {% for row in data %}
      <h1 class="khmer">{{row[1]}}</h1>
      {% if row[5] %}
        <div class="image">
            <img src="{{ url_for('static', filename='image/' ~ row[5]) }}" class="image-dash" alt="Uploaded Image" style="width:100%;height:100%;">
        </div>
      {% else %}
      No image
      {% endif %}
        
      <h5 class="dis" >{{row[4]}}</h5>
      
         
      </td>
     

        
      </tr>
      

      {% endfor %}
      
      
     </tbody>
  </table>
</div>
 
{% endblock %}