{% extends 'base.html' %}

{% block content %}
<div class="body_homepage">
    <img src="https://e0.pxfuel.com/wallpapers/776/630/desktop-wallpaper-palm-trees-neon-sun-rays-80s-chromebook-pixel-background-and-purple-palm-tree.jpg" alt="" width="100%" height="140%" style="z-index: -999;">
<nav class="all_menu navbar navbar-expand-lg w-100 m-auto text-white" style="position: fixed; top: 0; background-color: rgba(96, 96, 96, 0.395);">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </ul>
        <div class="admin">
            <a href="{{ url_for('login') }}" class="btn d-flex bg-primary m-2 text-white">Login</a>
        </div>
      </div>
    </div>
  </nav>
</div>
{% endblock %}